In [9]:
#Get Data from csv
import pandas as pd

df_data_1 = pd.read_csv('/project_data/data_asset/customer-churn-analysis.csv')
df_data_1.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [10]:
# @hidden_cell
# The following code contains the credentials for a connection in your Project.
# You might want to remove those credentials before you share your notebook.# @hidden_cell

from project_lib import Project
project = Project.access()

DB2_on_Cloud_MBAS_metadata = project.get_connection(name="DB2 on Cloud MBAS")

import os, jaydebeapi, pandas as pd

DB2_on_Cloud_MBAS_url = 'jdbc:db2://{}:{}/{}'.format(
    DB2_on_Cloud_MBAS_metadata['host'],
    DB2_on_Cloud_MBAS_metadata.get('port', 50000),
    DB2_on_Cloud_MBAS_metadata['database']
)

DB2_on_Cloud_MBAS_connection = jaydebeapi.connect(
    'com.ibm.db2.jcc.DB2Driver',
    DB2_on_Cloud_MBAS_url,
    [DB2_on_Cloud_MBAS_metadata['username'],DB2_on_Cloud_MBAS_metadata['password']]
)

dsn = 'DASHDB;Database={};Hostname={};Port={};PROTOCOL=TCPIP;UID={};PWD={}'.format(
    DB2_on_Cloud_MBAS_metadata['database'],
    DB2_on_Cloud_MBAS_metadata['host'],
    DB2_on_Cloud_MBAS_metadata.get('port',50000),
    DB2_on_Cloud_MBAS_metadata['username'],
    DB2_on_Cloud_MBAS_metadata['password']
 )

print (dsn)

from ibmdbpy import IdaDataBase, IdaDataFrame

idadb = IdaDataBase(dsn)

ida_df=idadb.as_idadataframe(df_data_1, 'EMPLOYEE_2')
idadb.commit

#query = 'SELECT * FROM "NWR02627"."SALES_FACT" FETCH FIRST 10 ROWS ONLY'
#data_df_1 = pd.read_sql_query(query, con=DB2_on_Cloud_MBAS_connection)
#data_df_1.head()

# After use, close the database connection with the following code:
# DB2_on_Cloud_MBAS_connection.close()

DASHDB;Database=BLUDB;Hostname=dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net;Port=50000;PROTOCOL=TCPIP;UID=nwr02627;PWD=dkt3l57-3njvsggl
Uploading 3333 rows (maxnrow was set to 4761)